$a : 'blue';
body{
	background-color:$a
}
body{
	background-color:$a
}
body{
	background-color:$a
}

body{
	background-color:$a
}
body{
	background-color:$a
}
body{
	background-color:$a
}
body{
	background-color:$a
}
body{
	background-color:$a
}
body{
	background-color:$a
}
body{
	background-color:$a
}
